body {
  font-family: "Roboto", sans-serif;
  font-size: 14px; /* размер шрифта */
  color: #0a143a; /* цвет текста #0A143A */
}
.container {
  max-width: 1146px; /* максимальная ширина */
  margin: auto; /* автоматическое выравнивание по середине */
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar {
  display: flex; /* делаем гибкий блок */
  align-items: center; /* выравниваем по вертикали по центру  */
  justify-content: space-between; /* разбросать элементы по краям */
  margin-bottom: 24px;
}
/* меню в шапке */
.navbar-menu {
  margin-right: auto; /* автоматический отступ справа */
}
.menu {
  list-style: none; /* отключаем точки в списке */
  margin: 0; /* обнуляем отступы */
  padding-left: 22px; /* внутренний отступ слева */
  padding-right: 22px; /* внутренний отступ справа */
  display: flex;
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px; /* отступ справа 14 пикселей */
}
.menu-link {
  text-decoration: none; /* отключаем подчеркивание ссылок */
  color: inherit; /* возьми цвет текста как у родителя (body) */
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px; /* сверх и снизу 10 пикселей, а по краям 15 */
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb; /* фон */
  border-radius: 5px; /* скругление углов */
  color: white;
}
.search-panel {
  height: 50px; /* высота */
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /* растягивается на все свободное место */
  background: #ffffff;
  border-radius: 5px;
  border: none; /* отключаем обводку */
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none; /* отключаем обводку */
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-link {
  text-decoration: none;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
